.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wraapper {
    margin: auto;
    padding: 2rem;
}
.card {

    width: 16rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.book-name {
    font-size: large;
    font-weight: bold;
}
.image {
    height: 220px;
    object-fit: cover;

}
.book-image {
    max-width: fit-content;

    margin: auto;
}

.btn {
    margin-top: 18px;
    padding: 10px 80px;
    cursor: pointer;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
}
.btn:hover {
    background-color: #A2CD63;
    color: white;
    transition: all 0.2s;
}
.book-actual-price {
    text-decoration: line-through;
    color: rgb(4, 202, 4);
}

.book-selling-price {
    color: #A2CD63;
    font-size: medium;
}
